# tests/CMakeLists.txt
find_package(GTest CONFIG REQUIRED)
file(GLOB UNIT_TESTS CONFIGURE_DEPENDS unit/test_*.cpp)
add_executable(unit_tests ${UNIT_TESTS})
target_link_libraries(unit_tests PRIVATE GTest::gtest_main your_lib)
include(GoogleTest)
gtest_discover_tests(unit_tests)
